 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --gold: #FFD700;
    --black: #000000;
    --white: #FFFFFF;
    --special-font: Poppins
}


html {
    scroll-behavior: smooth;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    position: relative;
    font-size: 16px;
    background: var(--black);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}


header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%; 
    background: transparent;
    backdrop-filter: blur(5px);
    z-index: 100;
}

/* back to top button */
.arrow-up{
    position: fixed;
    padding: 9px;
    right: 30px;
    bottom: 40px;
    color: var(--black);
    background-color: var(--gold);
    /* width: 35px;
    height: 35px; */
    z-index: -100; 
    visibility: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.show-arrow{
    visibility: visible;
    z-index: 100;
}
/* end of back to top button */

/* .fa-solid{
    animation:floatImage 4s ease-out infinite;
} */

/* navigation styles */
.navbar{
    width: 90%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* background: transparent; */
    /* backdrop-filter: blur(5px);
    z-index: 100;  */
}

.logo{
    font-size: 1.3rem;
    font-weight: 500;
    font-family: var(--special-font);
    background: var(--gold);
    color: var(--black);

    /* border: 1px solid; */
    border: none;
    border-radius: 1rem;

    padding: 0.6rem;
    box-shadow: 1px 1px 7px;
    animation: slideRight 1s ease forwards;
}

 nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

 nav li .dm{
    font-size: 12px;
    font-family: var(--special-font);
    font-weight: 700;
    list-style: none;
    margin-left: 1.5rem;
    text-align: center;
    color:var(--white);  
}

li:hover .dm{
    border-bottom: 3px solid var(--gold);
    /* outline: none; */
    /* border-radius: 1rem; */
    /* font-weight: 500; */
    /* padding: 0.6rem; */
    /* box-shadow: 1px 1px 10px; */
    transition: 0.3s;
    cursor: pointer;
}
/*end of navigation styles */

/* hamburger-menu styles */
.hamburger-menu{
    display: flex;
    flex-direction: column;
    display: none;
}

.hamburger-menu span{
    width: 27px;
    height: 2px;
    background: var(--gold);
    transform-origin: 2px 1px;
    transition: all 300ms ease-in;
}

.hamburger-menu span:not(:last-child){
    margin-bottom: 6px;
}

.hamburger-menu.open span:nth-child(1){
    transform:  rotate(45deg);
}

.hamburger-menu.open span:nth-child(2){
    opacity: 0;
    
}

.hamburger-menu.open span:nth-child(3){
    transform:  rotate(-45deg);
}
/* hamburger-menu styles */


/* mobile nav */
/* .mobile-nav{
    position: absolute;
    
    top: 0;
    right: 0;
    z-index: 100;
    display: none;
} */

/* mobile nav styles */
.overlay{
    position: fixed;
    top: 5.8rem;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient( var(--gold),transparent);
    opacity: 0;
    transition:  300ms ease-in;
    z-index: 1000; 
    display: none;
}

.mobile-nav li{
    margin: 1rem 0 1rem 0;
    list-style: none;

}
/* end of mobile nav styles */
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    overflow-x: hidden;

    .t{
        z-index: 1;
        text-align: center;

        & h1{
            color: var(--gold);
            font-size: 60px; 
            font-family: var(--special-font);
            margin-bottom: 1rem;

        }

        & h3{
            color: var(--white);
            font-size: 35px;
            margin-bottom: 1rem;
            font-family: var(--special-font);
        }

    }

    /* home video styles */
    .video-container{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -3;
    }

    .lay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--black);
        opacity: 0.6; 
    }

    /*end of home video styles */



    /* socials styles */
    .socials{
       display: flex;
       align-items: center;
       justify-content: center;
       z-index: 1;

       .sl{
        margin: 1.5rem;

        .fa-brands{
            color: var(--gold);
            font-size: 1.7rem;
        }
       }
    }
    /*end of socials styles */

    /* scroll up styles */
    .arrow-scroll{
        position: absolute;
        bottom: 1rem;
        left: 50%;
        width: 18px;
        height: 30px;
        border-radius: 6rem;
        box-shadow: 1px 1px 8px rgb(72, 68, 46);
        overflow: hidden;
        cursor: pointer;
        /* z-index: 1; */
    }
    



    .arrow-scroll::before,
    .arrow-scroll::after{
        content: '';
        position: absolute;
        border: 1px solid var(--gold);
        width: 9px;
        height: 9px;
        top: 10%;
        left: 50%;
        border-top: transparent;
        border-left: transparent;
        transform: translate(-50%, -70%) rotate(45deg);
        animation: scroll-down 2s ease-in-out infinite;
    }

    .arrow-scroll::after{
        top: 20%;
        animation-delay: .5s;
    }    
}
/*end of scroll up styles */



/* about styles */
.about{
    width: 90%;
    /* height: 100vh; */
    margin: 0 auto;
    margin-top: 6rem;
    /* border: 1px solid var(--gold); */
    color: #fff;

    /* .z-i{
        text-align: center;
        color: var(--gold);
        opacity: 0.1;
        font-weight: 700;
        font-size: 4rem;
        font-style: italic;
        letter-spacing: 10px;
        text-transform: uppercase;
    }
     .title{
        text-align: center;
        margin-top: -3.5rem;
        color: var(--gold);
        font-size: 3.5rem;
        font-weight: 700;
        letter-spacing: 7px;
        text-transform: uppercase;  
    } */

    .profile{
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .info{
        flex: 1;
        margin-right: 3rem;
        animation: slideLeft 1s ease forwards;

        & h1{
            font-size: 2rem;
            font-family: var(--special-font);
            font-weight: 800;
            color: var(--gold);
            text-transform: uppercase;
            letter-spacing: 4px;
            animation: slidebottom 1s ease forwards;
        }

        & h3{
            font-size: 1.5rem;
            font-family: var(--special-font);
            margin-top: 0.7rem;
            letter-spacing: 4px;
            animation: slideLeft 1s ease forwards;
        }

        & p{
            font-size: 13px;
            font-family: var(--special-font);
            margin-top: 0.7rem;
            margin-bottom: 3rem;
            line-height: 30px;
            letter-spacing: 4px;
        }
        

        .cv{
            padding: 1rem;
            border: none;
            outline: none;
            border-radius: 1rem;
            background-color: var(--gold);
            font-size: 1rem;
            font-weight: 600;
            /* margin-bottom: 4rem; */
            color: var(--black);
        }

        .cv:hover{
            background-color: var(--black);
            color: #fff;
            cursor: pointer;
            box-shadow: 1px 1px 3px var(--gold);
            transition: .4s ease-in;
        }
    } 
}

/* general section title style */

.z-i{
    width: 100%;
    text-align: center;
     color: var(--gold);
     opacity: 0.1;
     font-weight: 700;
     font-size: 3rem;
     font-style: italic;
     letter-spacing: 10px;
     text-transform: uppercase;
 }

  .title{
    width: 100%;
     text-align: center;
     margin-top: -2.5rem;
     color: var(--gold);
     font-size: 2.4rem;
     font-family: var(--special-font);
     font-weight: 700;
     letter-spacing: 7px;
     text-transform: uppercase; 
 }
/*end of about styles */

.img-container{
    width: 300px;
    opacity: 0.7;
    border: 2px solid var(--gold) ;
    border-top-right-radius: 9.5rem;
    border-bottom-left-radius: 9.5rem;
    animation:floatImage 4s ease-in infinite;
    /* flex: 1; */

    & img{
        width: 100%;
        opacity: 0;
        animation: zoomIn 1s ease forwards ;
    }
}


/* image styles */

@keyframes zoomIn{
    0%{
        transform: scale(0);
        opacity: 0;

    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}
/*end of image styles */

/* @keyframes floatImage{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-25px);
    }

    100%{
        transform: translateY(0);
    }
} */

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-7px);
    }

    100%{
        transform: translateY(0);
    }
}
/*end of image styles */

/*services styles */
.services{
    width: 70%;
    /* height: 100vh; */
    margin: 0 auto;
    margin-top: 1rem;
    /* border: 1px solid gold ; */
    /* transform: translateY(15%); */
    text-align: center;
    overflow-x: hidden;

    /* .z-i{
        color: var(--gold);
        opacity: 0.1;
        font-weight: 700;
        font-size: 4rem;
        font-style: italic;
        letter-spacing: 10px;
        text-transform: uppercase;
    }


     .title{
        margin-top: -3.5rem;
        color: var(--gold);
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 7px;
        text-transform: uppercase;  
    } */

    .para{
        color: white;
        margin-bottom: 2rem;
        font-family: var(--special-font);
        letter-spacing: 0.3rem;
        font-size: 14px;
        line-height: 30px;

    }

    .box{
        width: 90%;
        word-wrap: break-word;
        margin: 0 auto;
        box-shadow: 1px 1px 3px var(--gold);
        border-radius: 1rem;
        padding: 2rem;
        margin-bottom: 3rem;
        animation: trackIn 0.4s linear both;
       

       
    

        & h1{
            color: var(--white);
            margin-bottom: 1rem;
            font-family: var(--special-font);

        }

        .sub-text{
            font-size: 1rem;
            opacity: 0.3;
        }

        & p{
            font-size: 12px;
            color: var(--white);
            letter-spacing: 4px;
            line-height: 25px;
            font-family: var(--special-font);
        }
    }
} 
/*end of services styles */

/*skills styles */
.skills{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    margin-top: 4rem;
    /* border: 1px solid var(--white) ; */
    transform: translateY(15%);
    text-align: center;
    overflow-x: hidden;

    /* .z-i{
        color: var(--gold);
        opacity: 0.1;
        font-weight: 700;
        font-size: 4rem;
        font-style: italic;
        letter-spacing: 10px;
        text-transform: uppercase;
    }


     .title{
        margin-top: -3.5rem;
        color: var(--gold);
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 7px;
        text-transform: uppercase;  
    } */

    .container{
        padding-top: 3rem;
        margin: 0 auto;
        width: 70%;
        align-items: center;
        /* opacity: 0;
        transform: translateX(100px); */
    }



    .text{
        display: flex;
        justify-content: space-between;
        align-items: center;

        & h3, p{
            color: var(--gold);
        }
    }

    .bar{
        width: 100%;
        height: 1rem;
        background: rgb(152, 151, 145);
    }

    .line-1{
        /* width: 90%; */
        height: 1rem;
        background-color: var(--gold);
        /* border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem; */
    }
    .line-2{
        /* width: 90%; */
        height: 1rem;
        background-color: var(--gold);
        /* border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem; */
    }
    .line-3{
        /* width: 90%; */
        height: 1rem;
        background-color: var(--gold);
        /* border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem; */
    }
    .line-4{
        /* width: 90%; */
        height: 1rem;
        background-color: var(--gold);
        /* border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem; */
    }
    .line-5{
        /* width: 90%; */
        height: 1rem;
        background-color: var(--gold);
        /* border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem; */
    }

}


.slide-in{
    /* scale: 0; */
    transform: translateX(-100px);
    transition: 2s;
    opacity: 0
}

.slide-in.show{
    /* scale: 1; */
     transform: translateX(0);
     opacity: 1
    
}

.scale{
    scale:0;
    transition: 2s;
    opacity: 0
}

.scale.show{
    scale: 1;
    opacity: 1
}
/*end of skills styles */

/*contact styles */
.reach-out{
    text-align: center;
    width: 80%;
    /* height: 100vh; */
    margin: 0 auto;
    margin-top: 6rem;

    & p{
        color: var(--white);
        font-size: 1.7rem;
        letter-spacing: 3px;
        font-family: var(--special-font);
    }

    /* .z-i{
       text-align: center;
        color: var(--gold);
        opacity: 0.1;
        font-weight: 700;
        font-size: 3rem;
        font-style: italic;
        letter-spacing: 10px;
        text-transform: uppercase;
    }

     .title{
        text-align: center;
        margin-top: -3.5rem;
        color: var(--gold);
        font-size: 2.4rem;
        font-weight: 700;
        letter-spacing: 7px;
        text-transform: uppercase; 
    } */


       .form-container{
            width: 90%;
            margin: 0 auto;
            margin-top: 3rem;
            padding: 2rem;
            background-color: var(--black);
            box-shadow: 1px 1px 9px var(--gold);
            border-radius: 1rem;

            & form{
                width: 90%;
                margin: 0 auto;
            }
        
            .input-box{
                position: relative;
                /* width: 100%; */
                height: 40px;
                margin-bottom: 3rem;

                & input, #text-area{
                    
                    width: 100%;
                    color: var(--white);
                    background-color: transparent;
                    outline: none;
                    padding: 17px;
                    border-radius: 4px;
                    border: none;
                    border:1px solid rgb(30, 29, 29);
                }

                & span{
                    position: absolute;
                    left: 0;
                    padding: 17px;
                    font-size: 0.7rem;
                    pointer-events: none;
                    color: rgba(103, 99, 99, 0.9);
                    transition: .5s;
                }


                & input:valid ~ span,
                & input:focus ~ span
                {

                    color: rgb(222, 215, 215);
                    transform: translateX(10px) translateY(-7px);
                    padding: 0 13px;
                    font-size: 0.6rem;
                    background-color: var(--black);
                    border: 1px solid var(--gold);
                    border-radius: 7px;
                }

                & input:valid,
                & input:focus,
                & textarea:valid,
                & textarea:focus{
                    border: 1px solid var(--gold);
                }
            }

            .submit{
                text-align: center;
                margin-top: 1rem;
                background-color: var(--gold);
                letter-spacing: 0.3rem;
                font-weight: 600;
                font-size: 1rem;
                border: none;
                padding: 1rem 2rem;
                border-radius: 0.7rem;
                transition: .3s ease-in;
            }

            .submit:hover{
                background-color: black;
                color: var(--white);
                box-shadow: 1px 1px 4px var(--white);
                cursor: pointer;
            }      

            .submit:active{
                box-shadow: 2px 1px 2px 1px gold;
                color: var(--white);
                transition: .3s;
                /* box-shadow: 1px 1px 4px var(--white); */
            }      
        }
}
/*end of contact styles */


/* footer styles */
footer{
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
    text-align: center;
    
    & p{
        font-size: 10px;
        opacity: 0.6;
        border-bottom: 1px solid var(--white);
        padding-bottom: 0.4rem;
        color: var(--gold);
        font-family: var(--special-font);
    }

    .socials{
        opacity: 0.6;
        margin-top: 0.6rem;

        .sl{
            margin: 1.3rem;
    
            .fa-brands{
                color: var(--gold);
                font-size: 1.rem;
            }
           }
    }
}
/*end of footer styles */

@media screen and (max-width:2000px) {

    /* .img-container{
        margin-top: 30px;
    } */

    
    .contact-form{
        flex-direction: column;
    }


    .services{
        transform: translateY(100px);
    }
    .about{
        /* transform: translateY(150px); */
        

        .info{
            text-align: center;
            /* margin-right: 3rem; */
            margin-bottom: 1.5rem;

            & h1{
                font-size: 2.7rem;
            }

            .profile{
                flex-direction: column;
            }
            
        }
    }

}

/* media queries */
@media screen and (max-width:900px) {

    .home{
        position: relative;
        width: 100%;
        height: 100vh;
        display: grid;
        place-content: center;
        margin-bottom: 3rem;
        overflow-x: hidden;
    
        .t{
            z-index: 1;
            text-align: center;
    
            & h1{
                color: var(--gold);
                font-size: 60px; 
                font-family: var(--special-font);
                margin-bottom: 1rem;
            }
    
            & h3{
                color: var(--white);
                font-size: 35px;
                /* margin-bottom: 1rem; */
                font-family: var(--special-font);
            }
    
        }
    }    
    .hide-for-desktop{ 
        display: flex;
    }

    
    
        .z-i{
           text-align: center;
            color: var(--gold);
            opacity: 0.1;
            font-weight: 300;
            font-size: 2.6rem;
            font-style: italic;
            letter-spacing: 10px;
            text-transform: uppercase;
        }
    
        .title{
            text-align: center;
            margin-top: -2.1rem;
            color: var(--gold);
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: 7px;
            text-transform: uppercase; 
        }

    .form-container{
        margin-right: 0;
    }

    

    .reach-out{
        text-align: center;
        width: 80%;
        /* height: 100vh; */
        margin: 0 auto;
        margin-top: 13rem;

        .contact-form{
            align-items: center;
            flex-direction: column;
        }

    }

    .contact-form{
        
        .form-container{
            margin-right:  0;
            width: 30%;
        }
    }

    
    

    /* .info{
        text-align: center;
        margin-right: 0;
        margin-bottom: 1.5rem;

        & h1{
            font-size: 2rem;
        }

        & h3{
            font-size: 1.5rem;
        }

        & p{
            line-height: 1.5rem;
        }
    }

    .profile{
        flex-direction: column;
    }
 } */


    .img-container{
        width: 300px;
    }
    /* .arrow-scroll{
        opacity:0;
        scale: 0;
    } */

    .mobile-nav{  
        width: 63%;
        transform: translateY(40%);
        margin: 0 auto;
        padding: 1rem;
        height: 19rem;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        background-color: rgb(20, 20, 18);
        text-transform: capitalize;

        .dm{
            margin: 1rem;
            font-size: 15px;
            font-family: var(--special-font);
            font-weight: 500;
            text-align: center;
        }
    }


    nav{
        display:none;
    }

    .about{
         
        .info{
            text-align: center;
            margin-right: 0;
            margin-bottom: 1.5rem;

            & h1{
                font-size: 2rem;
            }

            & h3{
                font-size: 1.5rem;
            }
        }

        .profile{
            flex-direction: column;
        }
    }


}

@media screen and (max-width: 650px) {
    .home{
        .t{
    
            & h1{
                color: var(--gold);
                font-size: 40px; 
                margin-bottom: 1rem;
            }
    
            & h3{
                color: var(--white);
                font-size: 20px;
                margin-bottom: 1rem;
            }
        }
    }   
    
    .img-container{
        width: 280px;
        margin-top: 5rem;
    }

    .about{
         
        .info{
            text-align: center;
            margin-right: 0;
            /* margin-bottom: 1.5rem; */

            & h1{
                font-size: 2rem;
            }

            & h3{
                font-size: 1.5rem;
            }
        }

        .profile{
            flex-direction: column;
        }
    }

} 

/*end of media queries */

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slidetop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slidebottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bounceRight{
    0%,
    20%,
    50%,
    80%,
    100% {

        transform: translateX(0)
    }

    40% {
        transform: translateX(35px);
    }

    60% {
       transform: translateX(-5px);
    }
}

@keyframes trackIn {
    0%{
      letter-spacing: .8em;
      opacity: 0;
     }

     40%{
        opacity:.6
     }

     100%{
        letter-spacing: normal;
        opacity: 1
     }
}

@keyframes fade-in {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes fade-out {
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}

@keyframes scroll-down {
    
    0%{
       opacity: 0;
    }


    30%{
        opacity: 1;
     }

     60%{
        opacity: 1;
     }

     100%{
        opacity: 0;
        top: 90%;
     }
}


.fade-in{
    animation: fade-in 400ms ease-in-out forwards;
    display: block;
}

.fade-out{
    animation: fade-out 400ms ease-in-out forwards;
    display: none;
}
